@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    --brand-color: #1f1f1f; /* Deep charcoal */
    --linear-back: linear-gradient(135deg, #1f1f1f 0%, #2c3e50 100%); /* Gradient from deep charcoal to dark blue */
}
/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Prevent scrollbars */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Make sure the background does not interfere with content */
    background: var(--linear-back);
}

/* Moving Rectangles */
.rectangle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    animation: move-rect 20s linear infinite;
}

.rectangle:nth-child(1) {
    top: 10%;
    left: 10%;
    animation-delay: 0s;
}

.rectangle:nth-child(2) {
    top: 20%;
    left: 70%;
    animation-delay: 5s;
}

.rectangle:nth-child(3) {
    top: 60%;
    left: 20%;
    animation-delay: 10s;
}

.rectangle:nth-child(4) {
    top: 80%;
    left: 80%;
    animation-delay: 15s;
}

@keyframes move-rect {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(50vw, -20vh) rotate(90deg);
    }
    50% {
        transform: translate(0, -50vh) rotate(180deg);
    }
    75% {
        transform: translate(-50vw, -20vh) rotate(270deg);
    }
    100% {
        transform: translate(0, 0) rotate(360deg);
    }
}

/* Moving Symbols */
.symbol {
    position: absolute;
    font-size: 24px; /* Adjust size as needed */
    color: var(--brand-color);
    pointer-events: none; /* Symbols should not intercept mouse events */
    animation: move-symbol 20s linear infinite;
}

.symbol:nth-child(5) {
    top: 10%;
    left: 20%;
    animation-delay: 0s;
}

.symbol:nth-child(6) {
    top: 30%;
    left: 50%;
    animation-delay: 5s;
}

.symbol:nth-child(7) {
    top: 50%;
    left: 30%;
    animation-delay: 10s;
}

.symbol:nth-child(8) {
    top: 70%;
    left: 70%;
    animation-delay: 15s;
}

.symbol:nth-child(9) {
    top: 90%;
    left: 40%;
    animation-delay: 20s;
}

.symbol:nth-child(10) {
    top: 20%;
    left: 80%;
    animation-delay: 25s;
}

@keyframes move-symbol {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}

/* Moving Triangles */
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 52px solid rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    animation: move-triangle 25s linear infinite;
}

.triangle:nth-child(1) {
    top: 30%;
    left: 10%;
    animation-delay: 0s;
}

.triangle:nth-child(2) {
    top: 50%;
    left: 70%;
    animation-delay: 5s;
}

.triangle:nth-child(3) {
    top: 80%;
    left: 20%;
    animation-delay: 10s;
}

.triangle:nth-child(4) {
    top: 20%;
    left: 80%;
    animation-delay: 15s;
}

@keyframes move-triangle {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }
    25% {
        transform: translateY(-20vh) translateX(50vw) rotate(90deg);
    }
    50% {
        transform: translateY(-40vh) translateX(0) rotate(180deg);
    }
    75% {
        transform: translateY(-20vh) translateX(-50vw) rotate(270deg);
    }
    100% {
        transform: translateY(0) translateX(0) rotate(360deg);
    }
}



.website_container {
    width: 80%;
    height: 80%;
    display: flex;
    padding: 1rem;
    position: relative;
}

/* Sidebar */
.website_container .sidebar_container {
    width: 35%;
    height: 100%;
    background-color: white;
    margin-right: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.sidebar_container .image {
    height: 60%;
    width: 100%;
    position: relative;
}

.sidebar_container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.sidebar_container .image .right_image_box {
    width: 70%;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: -3.5rem;
    left: -3rem;
    transform: rotate(16deg);
}

.sidebar_container .image .left_image_box {
    width: 70%;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: -3.5rem;
    right: -3rem;
    transform: rotate(-16deg);
}

.sidebar_container .sidebar_content {
    position: absolute;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    padding: 0.4rem;
}

.sidebar_container .sidebar_content h1 {
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

.sidebar_container .sidebar_content p {
    color: var(--brand-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.sidebar_container .sidebar_content .social_media {
    margin-top: 1rem;
}

.sidebar_container .sidebar_content .social_media a {
    font-size: 1.8rem;
    margin: 0.4rem;
    color: black;
}

.sidebar_container .sidebar_content .social_media a:hover {
    color: #3957ff;
    transition: 0.3s;
}

.sidebar_container .sidebar_buttom_menu {
    position: absolute;
    border-top: 0.2rem solid var(--brand-color);
    width: 100%;
    font-size: 1.6rem;
    left: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}

.sidebar_container .sidebar_buttom_menu:hover {
    color: var(--brand-color);
    transition: 0.3s;
}

/* Sidebar Navigation */
.sidebar_container .sidebar_navigation {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    z-index: 2;
    transition: left 0.3s;
}

.sidebar_container .sidebar_navigation li {
    margin: 0.3rem 0;
}

.sidebar_container .sidebar_navigation li a:hover,
.sidebar_container .sidebar_navigation .active {
    color: var(--brand-color);
    transition: 0.3s;
    font-weight: bold;
}

/* Content */
.website_container .content_container {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    overflow-y: scroll;
}

.content_container::-webkit-scrollbar {
    width: 0.2rem;
}

.content_container::-webkit-scrollbar-thumb {
    width: 0.2rem;
    background-color: gray;
    border-radius: 0.2rem;
}

/* About Page */

.title {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.title span {
    color: var(--brand-color);
}

.line {
    width: 4rem;
    border-top: 0.35rem solid black;
    border-radius: 0.5rem;
}

.about_page .about_content {
    margin-top: 1.2rem;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
}

.about_page .about_content p {
    font-size: 1rem;
    text-align: justify;
}

.about_profile {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
}

.about_profile .left_profile {
    width: 46%;
}

.about_profile .left_profile li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem 0;
    font-size: 1rem;
}

.about_profile .right_profile {
    width: 46%;
}

.about_profile .right_profile li {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0;
    align-items: center;
    font-size: 1rem;
}

li .profile_title {
    padding: 0.4rem;
    background-color: var(--brand-color);
    color: white;
    border-radius: 0.3rem;
}

/* Resume Page */
.resume_page .resume_container {
    margin: 1.2rem 0;
    display: flex;
}

.left_resume {
    width: 100%;
    padding: 0.6rem;
    border-right: 0.2rem solid var(--brand-color);
}

.right_resume {
    width: 100%;
    padding: 0.6rem;
}

.resume_title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}

.resume_title i {
    color: var(--brand-color);
}

.resume_box {
    margin: 1.5rem 0;
}

.resume_box .resume_date {
    font-size: 1rem;
    border: 0.1rem solid var(--brand-color);
    padding: 0.1rem 0.2rem;
    color: var(--brand-color);
}

.resume_box .resume_box_title {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.resume_box .resume_company {
    font-size: 1rem;
}

.resume_box .resume_text {
    font-size: 1rem;
    font-weight: 300;
}

/* Skills Container */

.skill_box .skill_title {
    font-size: 1.2rem;
    font-weight: 500;
}

.skill_box {
    margin: 1rem 0;
}

.skill_box .skill_line_container {
    height: 0.8rem;
    width: 100%;
    background-color: lightgray;
    border-radius: 0.4rem;
    overflow: hidden;
}

.skill_box .skill_line {
    background-color: var(--brand-color);
    height: 0.8rem;
}

/* Blogs Page */
.blogs_page .blogs_container {
    margin: 0.4rem;
}

.blog_box {
    margin-top: 1.2rem;
    border: 0.1rem solid var(--brand-color);
    padding: 0.5rem;
    border-radius: 0.4rem;
}

.blog_box .blog_title {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

.blog_box .blog_text {
    margin: 0.4rem 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}

.blog_box .blog_image {
    width: 100%;
    height: auto;
}

/* Services Page */

.services_page .services_container {
    margin: 1.2rem 0.4rem 0.4rem 0.4rem;
    display: flex;
}

.services_page .services_container .services_box {
    width: 50%;
    margin: 0.6rem;
    border: 0.1rem solid var(--brand-color);
    border-radius: 0.4rem;
    padding: 0.6rem;
    text-align: center;
    cursor: pointer;
}

.services_page .services_container .services_box:hover {
    background-color: var(--brand-color);
    transition: 0.3s;
}

.services_page .services_container .services_box:hover i,
.services_page .services_container .services_box:hover .services_title {
    color: white;
    transition: 0.3s;
}

.services_box i {
    color: var(--brand-color);
    font-size: 1.5rem;
    margin: 0.3rem 0;
}

.services_box .services_title {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--brand-color);
    margin: 0.4rem 0;
}

.services_box .services_text {
    font-size: 1rem;
    font-weight: 400;
}

/* Contact Page */
.contact_page .contact_container {
    margin: 1.2rem 0.4rem;
}

.contact_container form .form_name_row {
    display: flex;
    justify-content: space-between;
}

.contact_container form .form_name_row .left_form_row {
    width: 47%;
}

.contact_container form .form_name_row .right_form_row {
    width: 47%;
}

.contact_container form label {
    display: block;
    font-size: 1rem;
    margin-top: 0.8rem;
    margin-left: 0.2rem;
}

.contact_container form input {
    width: 100%;
    font-size: 1rem;
    padding: 0.3rem;
    border: none;
    outline: none;
    background-color: lightgray;
    border-radius: 0.4rem;
}

.contact_container form input:focus {
    border: 0.2rem solid var(--brand-color);
    transition: 0.3s;
}

.contact_container form textarea {
    width: 100%;
    font-size: 1rem;
    padding: 0.3rem;
    border: none;
    outline: none;
    background-color: lightgray;
    border-radius: 0.4rem;
    height: 6rem;
    resize: none;
}

.contact_container form #send_button {
    background-color: var(--brand-color);
    margin-top: 0.6rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.contact_container form #send_button:hover {
    opacity: 0.8;
    transition: 0.3s;
}

/* Global Menu CSS */
#global_menu_button_container {
    position: absolute;
    left: -3rem;
    display: none;
    margin-top: 0.1rem;
}

#global_menu_button_container #global_menu_button {
    background-color: white;
    font-size: 2rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

#global_menu_button_container #global_menu_button:hover {
    color: var(--brand-color);
    transition: 0.3s;
}

#global_menu_button_container p {
    color: var(--brand-color);
    font-size: 1.4rem;
    font-weight: bold;
    display: none;
}

#global_menu_items {
    position: fixed;
    left: -120%;
    /* left: 0; */
    top: 0;
    background-color: white;
    width: 40%;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    transition: left 0.3s;
}

#global_menu_items div {
    width: 80%;
    margin-top: 4rem;
}

#global_menu_items li {
    margin: 1rem 0;
}

#global_menu_items a {
    display: block;
    width: 100%;
    padding: 0.4rem 0.2rem;
    border-bottom: 0.1rem solid var(--brand-color);
    font-size: 1.4rem;
}

#global_menu_items a:hover {
    color: var(--brand-color);
    transition: 0.3s;
}

#global_menu_items #global_menu_close_button {
    position: absolute;
    right: -3.3rem;
    top: 0;
    font-size: 2.6rem;
    background-color: white;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
}

#global_menu_items #global_menu_close_button:hover {
    color: var(--brand-color);
    transition: 0.3s;
}

/* Making Responsive */

@media screen and (max-width: 1200px) {
    .website_container {
        width: 92%;
        height: 92%;
    }
}

@media screen and (max-width: 1000px) {
    body {
        height: auto;
    }

    .website_container {
        flex-direction: column;
        width: 70%;
    }

    .website_container .sidebar_container {
        width: 100%;
        height: 80vh;
        margin-bottom: 1rem;
    }

    .about_profile {
        flex-direction: column;
    }

    .about_profile .left_profile {
        width: 100%;
    }

    .about_profile .right_profile {
        width: 100%;
    }

    #global_menu_button_container {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .website_container {
        margin-top: 10vh;
    }

    .resume_page .resume_container {
        flex-direction: column;
    }

    .left_resume {
        border-right: none;
        border-bottom: 0.2rem solid var(--brand-color);
    }

    .services_page .services_container {
        flex-direction: column;
        margin: 0;
    }

    .services_page .services_container .services_box {
        width: 100%;
        margin: 0.6rem 0;
    }

    .contact_container form .form_name_row {
        flex-direction: column;
    }

    .contact_container form .form_name_row .left_form_row {
        width: 100%;
    }

    .contact_container form .form_name_row .right_form_row {
        width: 100%;
    }

    #global_menu_button_container {
        position: fixed;
        top: -0.1rem;
        left: 0;
        z-index: 5;
        width: 100%;
        background-color: white;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    #global_menu_button_container #global_menu_button {
        color: black;
        background-color: transparent;
        padding: 0.2rem;
        font-size: 1.6rem;
    }

    #global_menu_button_container p {
        display: block;
    }

    #global_menu_items {
        width: 100%;
    }

    #global_menu_items #global_menu_close_button {
        left: 0;
        text-align: center;
        background-color: lightgray;
    }
}

@media screen and (max-width: 680px) {
    .website_container {
        height: 100%;
        width: 100%;
    }
}

.resume_container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left_resume, .right_resume {
    width: 45%;
}

.skill_box {
    margin-bottom: 20px;
}

.skill_title {
    margin-bottom: 5px;
    font-size: 18px;
}

.skill_line_container {
    height: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
}

.skill_line {
    height: 100%;
    background-color: #4CAF50;
}

.skill_percentage {
    position: relative;
    display: inline-block;
    width: 40px; /* Larger circle size */
    height: 40px; /* Larger circle size */
    line-height: 40px; /* Center text vertically */
    text-align: center; /* Center text horizontally */
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 50%; /* Makes it a circle */
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

.skill_percentage:hover {
    background-color: #9CCC65; /* Brighter green color on hover */
}


.download_button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745; /* Green color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.download_button:hover {
    background-color: #218838; /* Darker green */
    color: #000; /* Black text */
}

.resume_download {
    margin-top: 20px;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

/* Define the rubberBand animation */
@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

/* Style for name1 class */
.name1 {
  color: #ef233c;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 600;
  display: inline-block; /* Ensure the hover effect works properly */
}

/* Hover effect to trigger rubberBand animation */
.name1:hover {
  color: rgb(247, 40, 40);
  animation-name: rubberBand;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.about_text {
    margin-bottom: 1em; /* Adjust the value to control spacing */
}

.view_more_button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Initial color */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.view_more_button:hover {
    background-color: #040404; /* Hover color */
}

/* Existing View More Button Styles */
.view_more_button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Initial color */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.view_more_button:hover {
    background-color: #040404; /* Hover color */
}

/* New More Skills Button Styles */
.more_skills_button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Initial color */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.more_skills_button:hover {
    background-color: #040404; /* Hover color */
}


/* Responsive Adjustments */
@media (max-width: 1024px) {
    body {
        overflow: auto; /* Allow scrolling on smaller screens */
    }

    .website_container {
        width: 95%;
        height: auto;
        flex-direction: column;
        padding: 0.5rem;
    }

    .website_container .sidebar_container {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .website_container .content_container {
        width: 100%;
        height: auto;
        padding: 0.5rem;
        overflow-y: auto;
    }

    .sidebar_container .sidebar_navigation {
        font-size: 1.5rem;
    }

    .sidebar_container .sidebar_content h1 {
        font-size: 1.5rem;
    }

    .sidebar_container .sidebar_content p {
        font-size: 0.9rem;
    }

    .sidebar_container .sidebar_buttom_menu {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .sidebar_container .sidebar_content h1 {
        font-size: 1.2rem;
    }

    .sidebar_container .sidebar_content p {
        font-size: 0.8rem;
    }

    .sidebar_container .sidebar_buttom_menu {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .website_container {
        width: 100%;
        padding: 0.2rem;
    }

    .website_container .content_container {
        padding: 0.2rem;
    }

    .sidebar_container .sidebar_content h1 {
        font-size: 1rem;
    }

    .sidebar_container .sidebar_content p {
        font-size: 0.7rem;
    }

    .sidebar_container .sidebar_buttom_menu {
        font-size: 1rem;
    }

    .resume_title,
    .resume_box .resume_box_title,
    .resume_box .resume_company,
    .resume_box .resume_text {
        font-size: 0.8rem;
    }

    .skill_box .skill_title {
        font-size: 1rem;
    }

    .blogs_page .blogs_container {
        margin: 0.2rem;
    }

    .blog_box .blog_title {
        font-size: 1.2rem;
    }

    .blog_box .blog_text {
        font-size: 0.8rem;
    }

    .services_box .services_title {
        font-size: 1rem;
    }

    .services_box .services_text {
        font-size: 0.8rem;
    }
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    body {
        overflow: auto; /* Allow scrolling on smaller screens */
    }

    .website_container {
        width: 95%;
        height: auto;
        flex-direction: column;
        padding: 0.5rem;
    }

    .website_container .sidebar_container {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .website_container .content_container {
        width: 100%;
        height: auto;
        padding: 0.5rem;
        overflow-y: auto;
    }

    .sidebar_container .sidebar_navigation {
        font-size: 1.5rem;
    }

    .sidebar_container .sidebar_content h1 {
        font-size: 1.5rem;
    }

    .sidebar_container .sidebar_content p {
        font-size: 0.9rem;
    }

    .sidebar_container .sidebar_buttom_menu {
        font-size: 1.4rem;
    }

    .background {
        background-size: cover; /* Adjust background size for tablets */
    }
}

@media (max-width: 768px) {
    .sidebar_container .sidebar_content h1 {
        font-size: 1.2rem;
    }

    .sidebar_container .sidebar_content p {
        font-size: 0.8rem;
    }

    .sidebar_container .sidebar_buttom_menu {
        font-size: 1.2rem;
    }

    .background {
        background-size: cover; /* Adjust background size for smaller devices */
    }
}

@media (max-width: 480px) {
    .website_container {
        width: 100%;
        padding: 0.2rem;
    }

    .website_container .content_container {
        padding: 0.2rem;
    }

    .sidebar_container .sidebar_content h1 {
        font-size: 1rem;
    }

    .sidebar_container .sidebar_content p {
        font-size: 0.7rem;
    }

    .sidebar_container .sidebar_buttom_menu {
        font-size: 1rem;
    }

    .resume_title,
    .resume_box .resume_box_title,
    .resume_box .resume_company,
    .resume_box .resume_text {
        font-size: 0.8rem;
    }

    .skill_box .skill_title {
        font-size: 1rem;
    }

    .blogs_page .blogs_container {
        margin: 0.2rem;
    }

    .blog_box .blog_title {
        font-size: 1.2rem;
    }

    .blog_box .blog_text {
        font-size: 0.8rem;
    }

    .services_box .services_title {
        font-size: 1rem;
    }

    .services_box .services_text {
        font-size: 0.8rem;
    }

    .background {
        background-size: cover; /* Ensure background covers entire viewport */
    }
}
@media (max-width: 768px) {
    .rectangle {
        width: 70px;
        height: 70px;
    }

    .symbol {
        font-size: 18px;
    }

    .triangle {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 35px solid rgba(255, 255, 255, 0.2);
    }
}

@media (max-width: 480px) {
    .rectangle {
        width: 50px;
        height: 50px;
    }

    .symbol {
        font-size: 14px;
    }

    .triangle {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 26px solid rgba(255, 255, 255, 0.2);
    }
}

/* General styling for the footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styling for the text inside the footer */
footer p {
    margin: 0;
    font-size: 14px;
}

/* Styling for the visitor badge image */
footer img {
    vertical-align: middle;
    margin-left: 10px;
}

/* Hover effect for the footer */
footer:hover {
    background-color: #333;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    footer {
        font-size: 12px;
    }
}
